<div class="cp-layout-wrap">
  <!-- Header -->
  <header>
    <a class="cp-img-mainLogo" href="javascript:"></a>
  </header>
  <!-- //Header -->

  <!-- ContentsWrap -->
  <!-- 전체화면 띄울시 type-allscreen 추가 -->
  <div class="cp-layout-conWrap type-allscreen">

    <!-- Contents -->
    <div class="cp-wrap-contents cp-collapse">
      <!-- Detail -->
      <div class="cp-layout-detail">

        <div class="cp-wrap-noData">
          <i class="material-icons">&#xE000;</i>
          <h3 style="font-size: large">Unauthorized</h3><br/>
          <em>sk-bef 연결에 실패하였습니다.</em><br/>
            <em>관리자에게 문의하세요.</em>
          <a class="cp-btn-line" href="javascript:">메인으로</a>
        </div>

      </div>
      <!-- //Detail -->
    </div>
    <!-- //Contents -->
  </div>
  <!-- //ContentsWrap -->

</div>
<!-- //ContentsWrap -->
