<div class="cp-layout-wrap">
  <!-- Header -->
  <header>
    <a class="cp-img-mainLogo" href="javascript:"></a>
  </header>
  <!-- //Header -->

  <!-- ContentsWrap -->
  <!-- 전체화면 띄울시 type-allscreen 추가 -->
  <div class="cp-layout-conWrap type-allscreen">

    <!-- Contents -->
    <div class="cp-wrap-contents cp-collapse">
      <!-- Detail -->
      <div class="cp-layout-detail">

        <div class="cp-wrap-noData">
          <i class="material-icons">&#xE000;</i>

          <em>{{message.get('common.401.subtitle')}}<br/>
            {{message.get('common.401.description')}}</em>
          <a class="cp-btn-line" href="javascript:"  onClick="history.back();">{{message.get('common.401.href')}}</a>
        </div>

      </div>
      <!-- //Detail -->
    </div>
    <!-- //Contents -->
  </div>
  <!-- //ContentsWrap -->

</div>
<!-- //ContentsWrap -->
